<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro MovieList</title>
    <link rel="stylesheet" href="cadastro.css">
</head>
<body>
    <header>
        <h1>Bem-Vindo ao MovieList</h1>
        <h3>O jeito fácil de colecionar e avaliar seus filmes!</h3>
        <img src="foto2.png" alt="MovieList">
    </header>
    <h1>Cadastre-se</h1>
    <form id="cadastroForm">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" required>
        <span class="error-message" id="nomeError"></span>

        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" required>
        <span class="error-message" id="emailError"></span>

        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" required>
        <span class="error-message" id="senhaError"></span>

        <button type="submit" id="btnCadastrar">Cadastrar</button>
        <a href="login.html">Já tenho conta</a>

        <div id="mensagemSucesso" class="sucess-message"></div>
    </form>

    <script src="/FrontEnd/scr/js/cadastro.js"></script>
</body>
</html>